.labeledInputField {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border;
  padding: 10px 0;

  .title {
    font-weight: 500;
  }

  .value {
    color: $textSecondary;
  }
}
