.chatHeader {
  height: 60px;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border;
  padding: 0 20px;
  z-index: 10;
}

.chatTitle {
  display: flex;
  align-items: center;
  gap: 20px;
}

.manageChat {
  position: relative;
  overflow: visible;
}

.manageChatButton {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.manageChatMenu {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: $backgroundLight;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid $border;
  z-index: 10;
}
