.profile {
  margin: auto;
  width: 50%;
}

.formInfo {
  margin-top: 20px;
  padding: 0;
}

.submitButton {
  margin: 30px auto;
  width: 50%;
}

.profileFooter {
  display: flex;
  flex-direction: column;
}

.logoutButton {
  color: $error;
}

.formError {
  color: $error;
  text-align: center;
}
