.register {
  min-width: 350px;
  padding: 40px;
  border: 1px solid $border;
  border-radius: 12px;
  background-color: $backgroundLight;
}

.title {
  font-size: $fontLg;
}

.registerForm {
  border-radius: 12px;
  box-shadow: 0px 0px 6px 0px #00000024;
}

.formField {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px 0;
}

.fieldLabel {
  margin-bottom: 10px;
  color: $textSecondary;
  font-size: $fontSm;
}

.fieldInput {
  width: 100%;
  padding: 10px;
}

.fieldError {
  color: $error;
  font-size: $fontSm;
}

.formActionButtons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}

.submitButton {
  width: 100%;
  background-color: $primary;
}
