// Font Sizes
$fontXs: 10px;
$fontSm: 12px;
$fontBase: 13px;
$fontLg: 20px;

// Colors
$primary: #3369f3;
$error: #ff2f2f;
$textPrimary: #1e1e1e;
$textSecondary: #aaaaaa;
$backgroundLight: #292929;
$border: #333333;
