// Font Sizes
$fontXs: 10px;
$fontSm: 12px;
$fontBase: 13px;
$fontLg: 20px;

// Colors
$primary: #3369f3;
$error: #ff2f2f;
$textPrimary: #ffffff;
$textSecondary: #aaaaaa;
$background: #222222;
$backgroundLight: #292929;
$backgroundInput: #3B3B3B;
$border: #333333;
$white: #ffffff;
$black: #000000;
